# Environment variables
.env
*.env

# Python
**/__pycache__/
*.pyc
venv/
.venv/

# Node
node_modules/

# Next.js
.next/

# Vercel
.vercel/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Scratch and Temporary
scratch/
tmp/
*.tmp
temp/

# ML Models
*.pt

# Next.js Local Env
.env.local
